
// {{{ Section Summary
.section-summary
  display: flex
  border: 1px solid #f0f0f0
  padding: 10px
  margin: 10px 0px
  flex-flow: row nowrap
  .section-body
    display: flex
    min-height: 50px
    flex-grow: 1
    flex-flow: column nowrap
    .title
      font: 400 18px Roboto
    .events-icons
      display: flex
      .event
        display: flex
        width: 30px
        height: 30px
        margin: 0px 0px 0px -5px
        border: 2px solid #fff
        border-radius: 15px
        background-color: #ccc
  .more
    flex-basis: 30px
    align-items: center
    display: flex
//}}}
// {{{ Section Header
.section-hdr
  background-color: #fff
  padding: 10px
  border-bottom: 1px solid #ddd
// }}}
// {{{ Create Event Button
.create-event-menu
  .dropdown-item
    a
      text-transform: capitalize
      display: block
      display: flex
      align-items: center
      span
        font-size: 15px
      span.icon
        font-size: 19px
        margin: 0px 5px
      span.fa-activity
        font-size: 16px
// }}}

