
// {{{ Section Summary
.section-summary
  display: flex
  border: 1px solid #f0f0f0
  padding: 10px
  margin: 10px 0px
  flex-flow: row nowrap
  .section-body
    display: flex
    min-height: 50px
    flex-grow: 1
    flex-flow: column nowrap
    .title
      font: 400 18px Roboto
    .events-icons
      display: flex
      .event
        display: flex
        width: 30px
        height: 30px
        margin: 0px 0px 0px -5px
        border: 2px solid #fff
        border-radius: 15px
        background-color: #ccc
  .more
    flex-basis: 30px
    align-items: center
    display: flex
//}}}
// {{{ Section Header
.section-hdr
  background-color: #fff
  padding: 10px
  border-bottom: 1px solid #ddd
  .title
    font: 400 20px Roboto
// }}}
// {{{ Create Event Button
.create-event-menu
  .dropdown-item
    a
      text-transform: capitalize
      display: flex
      margin: 5px 0px
      align-items: center
      span
        font-size: 15px
      span.icon
        font-size: 19px
        margin: 0px 5px
      span.fa-activity
        font-size: 16px
// }}}
// {{{ Event Full
.event-full
  display: flex
  flex-flow: row
  .body
    padding: 0px 10px 40px 20px
    .event-title
      a
        display: flex
        font: 400 17px Roboto
        margin-top: 5px
        color: #000!important
    .event-desc
      font: 300 15px Roboto
  .side
    flex-basis: 40px
    position: relative
    border-right: 2px solid #aaa
    .sign
      display: flex
      width: 32px
      height: 32px
      border-radius: 16px
      background-color: #fff
      border: 2px solid #aaa
      position: absolute
      right: -16px
      top: 0px
      align-items: center
      justify-content: center
      .icon
        color: #aaa
        font-size: 20px


//}}}
// {{{ Edit Event
.edit-event
  form
    margin-bottom: 20px
    .hide
      
    .show
//}}}
