$polished-copper: #c96e4b
$millineal-pink: #efb6bf
$one-million-likes: #f93c71
$succulent: #3ad566
$burnt-sienna: #d04918
$harvest-gold: #f9ac3d
$avocado: #758c34
$teak: #975914
$natural: #b59b74
$blue-mustang: #2d748c
$brass-gold: #cdab57
$social-bubble: #0981fe
$slate: #617d8c
$gold: #cb9b42
$cloud: #87a8d0
$violet: #c3b4d2
$pistache: #b1d1c5
$peach: #f9c4aa
$vague-pink: #e6a4b4

$activity: $pistache
$flight: $cloud
$dining: $vague-pink
$lodging: $gold
$transportation: $violet
$information: $cloud
$cruise: $peach

// {{{ ListSections
.section-summary
  display: flex
  border: 1px solid #f0f0f0
  padding: 10px
  margin: 10px 0px
  flex-flow: row nowrap
  .section-body
    cursor: pointer
    display: flex
    min-height: 50px
    flex-grow: 1
    flex-flow: column nowrap
    .title
      font: 400 18px Roboto
    .events-icons
      display: flex
      .event
        color: #fff
        justify-content: center
        align-items: center
        display: flex
        width: 30px
        height: 30px
        margin: 0px 0px 0px -5px
        border: 2px solid #fff
        border-radius: 15px
        background-color: #ccc
        span
          display: flex
          justify-content: center
          align-items: center
      .event.activity
        background-color: $activity
      .event.lodging
        background-color: $lodging
      .event.flight
        background-color: $flight
      .event.transportation
        background-color: $transportation
      .event.cruise
        background-color: $cruise
      .event.dining
        background-color: $dining
      .event.information
        background-color: $information
  .more
    flex-basis: 30px
    align-items: center
    display: flex
//}}}
// {{{ Section Header
.section-hdr
  background-color: #fff
  padding: 10px
  border-bottom: 1px solid #ddd
  .title
    font: 400 20px Roboto
    line-height: 40px
// }}}
// {{{ Create Event Button
.create-event-menu
  .dropdown-item
    a
      text-transform: capitalize
      display: flex
      margin: 5px 0px
      align-items: center
      span
        font-size: 15px
      span.icon
        font-size: 19px
        margin: 0px 5px
      span.fa-activity
        font-size: 16px
// }}}
// {{{ ListSection
.event-full
  display: flex
  flex-flow: row
  .body
    padding: 0px 10px 40px 20px
    .event-title
      a
        display: flex
        font: 400 17px Roboto
        margin-top: 5px
        color: #000!important
    .event-desc
      font: 300 15px Roboto
  .side
    flex-basis: 40px
    position: relative
    border-right: 3px solid #ddd
    .sign
      display: flex
      width: 34px
      height: 34px
      border-radius: 17px
      background-color: #fff
      border: 2px solid #aaa
      position: absolute
      right: -18px
      top: 0px
      align-items: center
      justify-content: center
      .icon
        color: #aaa
        font-size: 20px
    .sign.activity
      border: 2px solid #fff
      background-color: $activity
      .icon
        color: #fff
        font-size: 16px
    .sign.flight
      background-color: $flight
      border: 2px solid #fff
      .icon
        color: #fff
    .sign.dining
      background-color: $dining
      border: 2px solid #fff
      .icon
        color: #fff
    .sign.lodging
      background-color: $lodging
      border: 2px solid #fff
      .icon
        color: #fff
    .sign.transportation
      background-color: $transportation
      border: 2px solid #fff
      .icon
        color: #fff
    .sign.cruise
      background-color: $cruise
      border: 2px solid #fff
      .icon
        color: #fff
    .sign.information
      background-color: $information
      border: 2px solid #fff
      .icon
        color: #fff


//}}}
// {{{ Edit Event
.edit-event
  form
    margin-bottom: 20px
    .flipper
      height: 30px
      .hide
        translates
      .show
//}}}
//{{{ Flip Button Animation
.flip-horizontal-bottom
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both
  transform-style: preserve-3d
  backface-visibility: hidden
  backface-visibility: hidden

@keyframes flip-horizontal-bottom
  0%
    transform: rotateX(-180deg)
    transform: rotateX(-180deg)
  100% 
    transform: rotateX(0)

.flip-horizontal-top
  animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both
  transform-style: preserve-3d
  backface-visibility: hidden
  backface-visibility: hidden

@keyframes flip-horizontal-top 
  0%
    transform: rotateX(180deg)
    transform: rotateX(180deg)
  100%
    transform: rotateX(0)

//}}}
